{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <div class="LB" style="position: relative">

        <div class="" style="height: 200px; padding: 10px 15px 0 15px; margin-bottom: 2rem">

          {# User details #}
          <div style="font-size: 40px; color:white; font-weight: bolder; height: 100px; margin-top: 10px">{{ user_profile.first_name }} {{ user_profile.last_name }}</div>
          <div class="text-muted" style="font-size: 15px">@{{ user_profile.username }}</div>

          <div class="text-muted" style="font-size: 15px; margin: 7px 0">Joined {{ user_profile.date_joined }}</div>

          <span style="margin-right: 1.5rem; font-size: 15px"><strong class="white">{{ user_profile.following.count }}</strong> <span class="text-muted white">Following</span></span>
          <span style="font-size: 15px"><strong class="white">{{ user_profile.followers.count }}</strong> <span class="text-muted white">Followers</span></span>

            {# Follow buttons #}
            {% if user.is_authenticated and user != user_profile %}
                <div style="float: right; z-index: 20">
                    <form action="{% url 'profile' user_profile.username %}" method="POST">
                        {% csrf_token %}
                         {% if following_profile %}
                            <input type="submit" value="Following" name="unfollow_btn" class="btn following-btn"
                                   id="unfollowBtn" style="width: 100px">
                        {% else %}
                            <input type="submit" value="Follow" name="follow_btn" class="btn follow-btn">
                        {% endif %}
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
<hr class="white">
    {%  include "network/posts_template.html" with posts=page_obj %}

    {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation" >
            <ul class="pagination ml-5 mt-5 ">
                {% if page_obj.has_previous %}
                    <li class="page-item"> <a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

              <li class="">  <span class="current page-link page-item current-item">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div style="height: 60px"></div>
    {% endif %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}
